name: Rectangle

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - name: Pull source
      uses: actions/checkout@v1
    - name: Install Rectangle
      run: brew install rectangle
    - name: Make tarball
      run: tar -cz -v -C /Applications -f Rectangle.app.tar.gz Rectangle.app
    - name: Upload to release
      run: ./upload.sh Rectangle.app.tar.gz application/gzip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
